body {
    font: bold 12px Arial;
    margin-right: 50vh;
    background-color:grey; 
     }
a {
    text-decoration: none;
  }
#map{
    height:580px; 
    width:1040px; 
  
    }
#repeat{ 
     
     }
#s { 
      
      
      color: white; 
      background-color: grey;
     font-size: 16px; 
     cursor: pointer;
     }
#s:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: #B20000; 
     border: 1px solid black; 
     cursor: pointer; 
      box-shadow: 10px 3px 10px gray; 
     }
#names { 
     cursor: pointer; 
       }
#ex1 {
    background-color: lightblue;
   
}